root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
ij_continuation_indent_size = 3
max_line_length = 100
ij_any_wrap_long_lines = true
ij_any_space_before_array_initializer_left_brace = false

# Code-style settings for Java coding.
ij_java_class_count_to_use_import_on_demand = 999999
ij_java_insert_inner_class_imports = false
ij_java_names_count_to_use_import_on_demand = 999999
ij_java_generate_final_locals = true
ij_java_generate_final_parameters = true
ij_java_wrap_comments = true
ij_any_spaces_within_brackets = false
ij_java_array_initializer_right_brace_on_new_line = false
ij_java_space_before_opening_angle_bracket_in_type_parameter = false
ij_java_wrap_first_method_in_call_chain = true
ij_java_method_parameters_wrap = on_every_item
ij_java_method_parameters_new_line_after_left_paren = false
ij_java_method_parameters_right_paren_on_new_line = false
ij_java_keep_builder_methods_indents = true
ij_java_array_initializer_wrap = off
ij_java_wrap_long_lines = true